[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2 = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
django-cors-headers = "*"
django-currentuser = "*"
channels = "*"
channels-redis = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
